= simple_form_for @department, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, url: @department.new_record? ? admin_departments_path : admin_department_path do |f|
  .row= f.input :title, placeholder: 'Developers', wrapper_html: { class: 'col-sm-5' }
  .row= f.input :parent_id, collection: Department.hierarchy_tree, prompt: 'Root', wrapper_html: { class: 'col-sm-5' }
  .row= f.input :boss_id, collection: User.all, label_method: :email, prompt: 'Mr. Nobody', wrapper_html: { class: 'col-sm-5' }
  .row
    .col-sm-5
      .col-sm-offset-3= f.submit class: 'btn btn-primary'