%h1= "User #{@user.email}"

= link_to t('actions.edit_employee'), edit_admin_user_path(@user), class: 'btn btn-sm btn-info'
= link_to t('actions.destroy_employee'), [:admin, @user], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
%br
= "Name: #{@user.first_name} #{@user.middle_name} #{@user.last_name}"
%br
Department:
- if @user.department
  = link_to @user.department.title, @user.department
-if @user.boss_of.present?
  %br
  Boss of:
  = link_to @user.boss_of.title, @user.boss_of