.row
  .col-sm-6
    %h3.block-title= t 'terms.departments'
    = contains = render @departments
    - unless contains
      .alert= t 'messages.not_contains_departments'

  .col-sm-6
    %h3.block-title= t 'terms.employees'
    .list-group
      = contains = render @users
      - unless contains
        .alert= t 'messages.not_contains_users'