%h1 Record
%h2 New

= form_for @record, url: records_path do |f|
 = f.select :type, [['Vacation', 'Vacation'], ['Sickness', 'Sickness'], ['Day Off', 'DayOff']]
 %br
 = f.date_select :date_from
 %br
 = f.date_select :date_to
 %br
 = f.text_field :emails, placeholder: 'Emails'
 %br
 = f.text_area :comment, placeholder: 'Comment'
 %br
 = f.submit