%h1 Record
%h2 Pending

- if @records.present?
  %table.table.table-responsive
    %thead
      %th ID
      %th Type
      %th Email
      %th From
      %th To
    - @records.each do |r|
      %tr
        %td= r.id
        %td= r.type
        %td= r.user.email
        %td= r.date_from.to_date unless r.date_from.nil?
        %td= r.date_to.to_date unless r.date_from.nil?
        %td= link_to 'Approve', boss_approve_record_path(r)
        %td= link_to 'Disapprove', boss_disapprove_record_path(r)