- content_for :title, t('pages.sign_in')

.sign_in
  .jumbotron
    .container
      %span.glyphicon.glyphicon-time
      %h2= t 'title'

      .box
        - if flash[:alert]
          .alert.alert-danger= flash[:alert]

        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.input :remember_me, as: :hidden, input_html: { value: true }
          = f.input :email, placeholder: 'email', label: false
          = f.password_field :password, placeholder: 'password', label: false

          %button.btn.btn-default.full-width
            %span.glyphicon.glyphicon-ok

        = link_to 'Forgot your password?', new_password_path(resource_name), class: 'reset-password'