= simple_form_for @user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, url: @user.new_record? ? admin_users_path : admin_user_path do |f|
  .row= f.input :first_name, placeholder: 'George', wrapper_html: { class: 'col-sm-6' }
  .row= f.input :middle_name, placeholder: 'Walton', wrapper_html: { class: 'col-sm-6' }
  .row= f.input :last_name, placeholder: 'Lucas', wrapper_html: { class: 'col-sm-6' }
  .row= f.input :email, placeholder: 'father@lucasarts.com', wrapper_html: { class: 'col-sm-6' }
  .row= f.input :department_id, collection: Department.hierarchy_tree, prompt: 'Root', wrapper_html: { class: 'col-sm-6' }
  .row
    .col-sm-6
      .col-sm-offset-3= f.submit class: 'btn btn-primary'