%h1= "User #{@user.email}"
%h2 ADMIN - Edit
= form_for @user, url: admin_user_path do |f|
  = f.text_field :email, placeholder: 'Email'
  %br
  = f.collection_select :department_id, @departments, :id, :hierarchy_title, prompt: 'Department...'
  %br
  = f.submit