%h1
  All users
  %span.small= link_to 'New user', new_admin_user_path

%table.table.table-responsive
  %thead
    %th ID
    %th Name
    %th Email
    %th Department
    %th Boss of
    %th
  %tbody
    - @users.each do |u|
      %tr
        %td= link_to u.id, edit_admin_user_path(u)
        %td= "#{u.first_name} #{u.middle_name} #{u.last_name}"
        %td= u.email
        %td= u.department.title unless u.department.nil?
        %td= u.boss_of.title unless u.boss_of.nil?
        %td= link_to 'Remove', admin_user_path(u), method: :delete