.calendar
  = month_calendar calendar_options do |date|
    = link_to date.day, worktime_path(date), remote: true
    - result = WorkStatusForEmployeeOnDay.result(current_user, date)
    - if result.is_a? String
      %span= result
    - else
      - text_hours_minutes = "#{result[:hours]}h #{result[:minutes]}m"
      - if result[:hours] < 6
        %span.text-danger= text_hours_minutes
      - elsif result[:hours] < 8
        %span.text-warning= text_hours_minutes
      - else
        %span.text-success= text_hours_minutes