.calendar
  = month_calendar calendar_options do |date|
    = link_to date.day, worktime_path(date), remote: true
    - result = WorkStatusForEmployeeOnDay.result(current_user, date)
    - if result.is_a? String
      %span= result
    - elsif result < 6
      %span.text-danger= result
    - elsif result < 8
      %span.text-warning= result
    - else
      %span.text-success= result