.modal.fade
  .modal-dialog
    .modal-content

      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title
          = @worktime.day_title + ': '
          = @worktime.form_title

      .modal-body
        = simple_form_for @form, remote: true, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
          = f.hidden_field :day
          .row= f.input :time_from, placeholder: 'ex. 09:00', wrapper_html: { class: 'col-sm-12' }
          .row= f.input :time_to,   placeholder: 'ex. 18:00', wrapper_html: { class: 'col-sm-12' }
          .row= f.input :message,   placeholder: 'I worked so hard', wrapper_html: { class: 'col-sm-12' }
          .row
            .form-group.col-sm-12
              .col-sm-12.text-right
                %button.btn.btn-default{'data-dismiss' => 'modal'} Close
                %button.btn.btn-primary{type: 'submit'}= @worktime.submit_text