.modal.fade
  .modal-dialog
    .modal-content

      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title
          = @worktime.day_title + ': '
          = @worktime.form_title

      .modal-body
        = form_for @worktime, remote: true, html: { class: 'form-horizontal' } do |f|
          = f.hidden_field :day

          .form-group
            = f.label :time_from, 'Time from:', class: 'col-xs-3 control-label'
            .col-xs-9
              = text_field_tag 'worktime[time_from]', @worktime.time_from, class: 'form-control', placeholder: 'ex. 09:00'
              %span.help-block

          .form-group
            = f.label :time_to, 'Time to:', class: 'col-xs-3 control-label'
            .col-xs-9
              = text_field_tag 'worktime[time_to]', @worktime.time_to, class: 'form-control', placeholder: 'ex. 09:00'
              %span.help-block

          .modal-footer
            %button.btn.btn-default{'data-dismiss' => 'modal'} Close
            %button.btn.btn-primary{type: 'submit'}= @worktime.submit_text