.container
  - if current_user
    %h1
      = current_user.email
      = link_to 'Logout', destroy_user_session_path, method: :delete
  - else
    %h1= link_to 'Sign in', new_user_session_path

  - if Rails.env.development?
    = switch_user_select

  = link_to 'Calendar', worktimes_path
  = link_to 'Departments', departments_path
  = link_to 'Create new record', new_record_path
  - if can? :pending, Record
    = link_to 'Pending records', pending_records_path
  = link_to 'Requested records', requested_records_path
  - if can? :bookkeeping, Record
    = link_to 'Bookkeeping', bookkeeping_records_path