!!!
%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)} - #{t 'title'}": "#{t 'title'}"
    = stylesheet_link_tag 'devise', media: 'all'
    = csrf_meta_tags
  %body
    - if Rails.env.development?
      = switch_user_select
    = yield